.git
.env
node_modules
storage/app/*
storage/api-docs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/app/private/.gitignore
!storage/app/public/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
vendor/bin/.phpunit.cache
